/* Coolors Exported Palette - https://coolors.co/5b4e50-181314-311311-6b2221-466b5d */

/* CSS HEX */
--dark-liver: #5B4E50ff;
--smoky-black: #181314ff;
--dark-sienna: #311311ff;
--persian-plum: #6B2221ff;
--hookers-green: #466B5Dff;

/* CSS HSL */
--dark-liver: hsla(351, 8%, 33%, 1);
--smoky-black: hsla(348, 12%, 8%, 1);
--dark-sienna: hsla(4, 48%, 13%, 1);
--persian-plum: hsla(1, 53%, 27%, 1);
--hookers-green: hsla(157, 21%, 35%, 1);

/* SCSS HEX */
$dark-liver: #5B4E50ff;
$smoky-black: #181314ff;
$dark-sienna: #311311ff;
$persian-plum: #6B2221ff;
$hookers-green: #466B5Dff;

/* SCSS HSL */
$dark-liver: hsla(351, 8%, 33%, 1);
$smoky-black: hsla(348, 12%, 8%, 1);
$dark-sienna: hsla(4, 48%, 13%, 1);
$persian-plum: hsla(1, 53%, 27%, 1);
$hookers-green: hsla(157, 21%, 35%, 1);

/* SCSS RGB */
$dark-liver: rgba(91, 78, 80, 1);
$smoky-black: rgba(24, 19, 20, 1);
$dark-sienna: rgba(49, 19, 17, 1);
$persian-plum: rgba(107, 34, 33, 1);
$hookers-green: rgba(70, 107, 93, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #5B4E50ff, #181314ff, #311311ff, #6B2221ff, #466B5Dff);
$gradient-right: linear-gradient(90deg, #5B4E50ff, #181314ff, #311311ff, #6B2221ff, #466B5Dff);
$gradient-bottom: linear-gradient(180deg, #5B4E50ff, #181314ff, #311311ff, #6B2221ff, #466B5Dff);
$gradient-left: linear-gradient(270deg, #5B4E50ff, #181314ff, #311311ff, #6B2221ff, #466B5Dff);
$gradient-top-right: linear-gradient(45deg, #5B4E50ff, #181314ff, #311311ff, #6B2221ff, #466B5Dff);
$gradient-bottom-right: linear-gradient(135deg, #5B4E50ff, #181314ff, #311311ff, #6B2221ff, #466B5Dff);
$gradient-top-left: linear-gradient(225deg, #5B4E50ff, #181314ff, #311311ff, #6B2221ff, #466B5Dff);
$gradient-bottom-left: linear-gradient(315deg, #5B4E50ff, #181314ff, #311311ff, #6B2221ff, #466B5Dff);
$gradient-radial: radial-gradient(#5B4E50ff, #181314ff, #311311ff, #6B2221ff, #466B5Dff);