/* Coolors Exported Palette - https://coolors.co/4f4023-bf9d2a-6d5a2f-a69b8c-261f1b */

/* CSS HEX */
--olive-drab-7: #4F4023ff;
--satin-sheen-gold: #BF9D2Aff;
--field-drab: #6D5A2Fff;
--grullo: #A69B8Cff;
--black-chocolate: #261F1Bff;

/* CSS HSL */
--olive-drab-7: hsla(40, 39%, 22%, 1);
--satin-sheen-gold: hsla(46, 64%, 46%, 1);
--field-drab: hsla(42, 40%, 31%, 1);
--grullo: hsla(35, 13%, 60%, 1);
--black-chocolate: hsla(22, 17%, 13%, 1);

/* SCSS HEX */
$olive-drab-7: #4F4023ff;
$satin-sheen-gold: #BF9D2Aff;
$field-drab: #6D5A2Fff;
$grullo: #A69B8Cff;
$black-chocolate: #261F1Bff;

/* SCSS HSL */
$olive-drab-7: hsla(40, 39%, 22%, 1);
$satin-sheen-gold: hsla(46, 64%, 46%, 1);
$field-drab: hsla(42, 40%, 31%, 1);
$grullo: hsla(35, 13%, 60%, 1);
$black-chocolate: hsla(22, 17%, 13%, 1);

/* SCSS RGB */
$olive-drab-7: rgba(79, 64, 35, 1);
$satin-sheen-gold: rgba(191, 157, 42, 1);
$field-drab: rgba(109, 90, 47, 1);
$grullo: rgba(166, 155, 140, 1);
$black-chocolate: rgba(38, 31, 27, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #4F4023ff, #BF9D2Aff, #6D5A2Fff, #A69B8Cff, #261F1Bff);
$gradient-right: linear-gradient(90deg, #4F4023ff, #BF9D2Aff, #6D5A2Fff, #A69B8Cff, #261F1Bff);
$gradient-bottom: linear-gradient(180deg, #4F4023ff, #BF9D2Aff, #6D5A2Fff, #A69B8Cff, #261F1Bff);
$gradient-left: linear-gradient(270deg, #4F4023ff, #BF9D2Aff, #6D5A2Fff, #A69B8Cff, #261F1Bff);
$gradient-top-right: linear-gradient(45deg, #4F4023ff, #BF9D2Aff, #6D5A2Fff, #A69B8Cff, #261F1Bff);
$gradient-bottom-right: linear-gradient(135deg, #4F4023ff, #BF9D2Aff, #6D5A2Fff, #A69B8Cff, #261F1Bff);
$gradient-top-left: linear-gradient(225deg, #4F4023ff, #BF9D2Aff, #6D5A2Fff, #A69B8Cff, #261F1Bff);
$gradient-bottom-left: linear-gradient(315deg, #4F4023ff, #BF9D2Aff, #6D5A2Fff, #A69B8Cff, #261F1Bff);
$gradient-radial: radial-gradient(#4F4023ff, #BF9D2Aff, #6D5A2Fff, #A69B8Cff, #261F1Bff);