/* Coolors Exported Palette - https://coolors.co/fefd09-6ee217-1e3502-97b135-493816 */

/* CSS HEX */
--yellow: #FEFD09ff;
--sheen-green: #6EE217ff;
--forest-green-traditional: #1E3502ff;
--apple-green: #97B135ff;
--cafe-noir: #493816ff;

/* CSS HSL */
--yellow: hsla(60, 99%, 52%, 1);
--sheen-green: hsla(94, 82%, 49%, 1);
--forest-green-traditional: hsla(87, 93%, 11%, 1);
--apple-green: hsla(73, 54%, 45%, 1);
--cafe-noir: hsla(40, 54%, 19%, 1);

/* SCSS HEX */
$yellow: #FEFD09ff;
$sheen-green: #6EE217ff;
$forest-green-traditional: #1E3502ff;
$apple-green: #97B135ff;
$cafe-noir: #493816ff;

/* SCSS HSL */
$yellow: hsla(60, 99%, 52%, 1);
$sheen-green: hsla(94, 82%, 49%, 1);
$forest-green-traditional: hsla(87, 93%, 11%, 1);
$apple-green: hsla(73, 54%, 45%, 1);
$cafe-noir: hsla(40, 54%, 19%, 1);

/* SCSS RGB */
$yellow: rgba(254, 253, 9, 1);
$sheen-green: rgba(110, 226, 23, 1);
$forest-green-traditional: rgba(30, 53, 2, 1);
$apple-green: rgba(151, 177, 53, 1);
$cafe-noir: rgba(73, 56, 22, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #FEFD09ff, #6EE217ff, #1E3502ff, #97B135ff, #493816ff);
$gradient-right: linear-gradient(90deg, #FEFD09ff, #6EE217ff, #1E3502ff, #97B135ff, #493816ff);
$gradient-bottom: linear-gradient(180deg, #FEFD09ff, #6EE217ff, #1E3502ff, #97B135ff, #493816ff);
$gradient-left: linear-gradient(270deg, #FEFD09ff, #6EE217ff, #1E3502ff, #97B135ff, #493816ff);
$gradient-top-right: linear-gradient(45deg, #FEFD09ff, #6EE217ff, #1E3502ff, #97B135ff, #493816ff);
$gradient-bottom-right: linear-gradient(135deg, #FEFD09ff, #6EE217ff, #1E3502ff, #97B135ff, #493816ff);
$gradient-top-left: linear-gradient(225deg, #FEFD09ff, #6EE217ff, #1E3502ff, #97B135ff, #493816ff);
$gradient-bottom-left: linear-gradient(315deg, #FEFD09ff, #6EE217ff, #1E3502ff, #97B135ff, #493816ff);
$gradient-radial: radial-gradient(#FEFD09ff, #6EE217ff, #1E3502ff, #97B135ff, #493816ff);