/* Coolors Exported Palette - https://coolors.co/c6d5cf-edf3f3-465b6e-b8cac6-85927e */

/* CSS HEX */
--ash-gray: #C6D5CFff;
--cultured: #EDF3F3ff;
--black-coral: #465B6Eff;
--opal: #B8CAC6ff;
--artichoke: #85927Eff;

/* CSS HSL */
--ash-gray: hsla(156, 15%, 81%, 1);
--cultured: hsla(180, 20%, 94%, 1);
--black-coral: hsla(209, 22%, 35%, 1);
--opal: hsla(167, 15%, 76%, 1);
--artichoke: hsla(99, 8%, 53%, 1);

/* SCSS HEX */
$ash-gray: #C6D5CFff;
$cultured: #EDF3F3ff;
$black-coral: #465B6Eff;
$opal: #B8CAC6ff;
$artichoke: #85927Eff;

/* SCSS HSL */
$ash-gray: hsla(156, 15%, 81%, 1);
$cultured: hsla(180, 20%, 94%, 1);
$black-coral: hsla(209, 22%, 35%, 1);
$opal: hsla(167, 15%, 76%, 1);
$artichoke: hsla(99, 8%, 53%, 1);

/* SCSS RGB */
$ash-gray: rgba(198, 213, 207, 1);
$cultured: rgba(237, 243, 243, 1);
$black-coral: rgba(70, 91, 110, 1);
$opal: rgba(184, 202, 198, 1);
$artichoke: rgba(133, 146, 126, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #C6D5CFff, #EDF3F3ff, #465B6Eff, #B8CAC6ff, #85927Eff);
$gradient-right: linear-gradient(90deg, #C6D5CFff, #EDF3F3ff, #465B6Eff, #B8CAC6ff, #85927Eff);
$gradient-bottom: linear-gradient(180deg, #C6D5CFff, #EDF3F3ff, #465B6Eff, #B8CAC6ff, #85927Eff);
$gradient-left: linear-gradient(270deg, #C6D5CFff, #EDF3F3ff, #465B6Eff, #B8CAC6ff, #85927Eff);
$gradient-top-right: linear-gradient(45deg, #C6D5CFff, #EDF3F3ff, #465B6Eff, #B8CAC6ff, #85927Eff);
$gradient-bottom-right: linear-gradient(135deg, #C6D5CFff, #EDF3F3ff, #465B6Eff, #B8CAC6ff, #85927Eff);
$gradient-top-left: linear-gradient(225deg, #C6D5CFff, #EDF3F3ff, #465B6Eff, #B8CAC6ff, #85927Eff);
$gradient-bottom-left: linear-gradient(315deg, #C6D5CFff, #EDF3F3ff, #465B6Eff, #B8CAC6ff, #85927Eff);
$gradient-radial: radial-gradient(#C6D5CFff, #EDF3F3ff, #465B6Eff, #B8CAC6ff, #85927Eff);