/* Coolors Exported Palette - https://coolors.co/6c6968-e6e2df-63605e-716f6d-faf8f7 */

/* CSS HEX */
--dim-gray: #6C6968ff;
--platinum: #E6E2DFff;
--granite-gray: #63605Eff;
--sonic-silver: #716F6Dff;
--cultured: #FAF8F7ff;

/* CSS HSL */
--dim-gray: hsla(15, 2%, 42%, 1);
--platinum: hsla(26, 12%, 89%, 1);
--granite-gray: hsla(24, 3%, 38%, 1);
--sonic-silver: hsla(30, 2%, 44%, 1);
--cultured: hsla(20, 23%, 97%, 1);

/* SCSS HEX */
$dim-gray: #6C6968ff;
$platinum: #E6E2DFff;
$granite-gray: #63605Eff;
$sonic-silver: #716F6Dff;
$cultured: #FAF8F7ff;

/* SCSS HSL */
$dim-gray: hsla(15, 2%, 42%, 1);
$platinum: hsla(26, 12%, 89%, 1);
$granite-gray: hsla(24, 3%, 38%, 1);
$sonic-silver: hsla(30, 2%, 44%, 1);
$cultured: hsla(20, 23%, 97%, 1);

/* SCSS RGB */
$dim-gray: rgba(108, 105, 104, 1);
$platinum: rgba(230, 226, 223, 1);
$granite-gray: rgba(99, 96, 94, 1);
$sonic-silver: rgba(113, 111, 109, 1);
$cultured: rgba(250, 248, 247, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #6C6968ff, #E6E2DFff, #63605Eff, #716F6Dff, #FAF8F7ff);
$gradient-right: linear-gradient(90deg, #6C6968ff, #E6E2DFff, #63605Eff, #716F6Dff, #FAF8F7ff);
$gradient-bottom: linear-gradient(180deg, #6C6968ff, #E6E2DFff, #63605Eff, #716F6Dff, #FAF8F7ff);
$gradient-left: linear-gradient(270deg, #6C6968ff, #E6E2DFff, #63605Eff, #716F6Dff, #FAF8F7ff);
$gradient-top-right: linear-gradient(45deg, #6C6968ff, #E6E2DFff, #63605Eff, #716F6Dff, #FAF8F7ff);
$gradient-bottom-right: linear-gradient(135deg, #6C6968ff, #E6E2DFff, #63605Eff, #716F6Dff, #FAF8F7ff);
$gradient-top-left: linear-gradient(225deg, #6C6968ff, #E6E2DFff, #63605Eff, #716F6Dff, #FAF8F7ff);
$gradient-bottom-left: linear-gradient(315deg, #6C6968ff, #E6E2DFff, #63605Eff, #716F6Dff, #FAF8F7ff);
$gradient-radial: radial-gradient(#6C6968ff, #E6E2DFff, #63605Eff, #716F6Dff, #FAF8F7ff);