/* Coolors Exported Palette - https://coolors.co/5b582b-403d28-b6b7af-202012-6f726b */

/* CSS HEX */
--army-green: #5B582Bff;
--olive-drab-7: #403D28ff;
--gray-x-11-gray: #B6B7AFff;
--black-chocolate: #202012ff;
--nickel: #6F726Bff;

/* CSS HSL */
--army-green: hsla(56, 36%, 26%, 1);
--olive-drab-7: hsla(53, 23%, 20%, 1);
--gray-x-11-gray: hsla(67, 5%, 70%, 1);
--black-chocolate: hsla(60, 28%, 10%, 1);
--nickel: hsla(86, 3%, 43%, 1);

/* SCSS HEX */
$army-green: #5B582Bff;
$olive-drab-7: #403D28ff;
$gray-x-11-gray: #B6B7AFff;
$black-chocolate: #202012ff;
$nickel: #6F726Bff;

/* SCSS HSL */
$army-green: hsla(56, 36%, 26%, 1);
$olive-drab-7: hsla(53, 23%, 20%, 1);
$gray-x-11-gray: hsla(67, 5%, 70%, 1);
$black-chocolate: hsla(60, 28%, 10%, 1);
$nickel: hsla(86, 3%, 43%, 1);

/* SCSS RGB */
$army-green: rgba(91, 88, 43, 1);
$olive-drab-7: rgba(64, 61, 40, 1);
$gray-x-11-gray: rgba(182, 183, 175, 1);
$black-chocolate: rgba(32, 32, 18, 1);
$nickel: rgba(111, 114, 107, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #5B582Bff, #403D28ff, #B6B7AFff, #202012ff, #6F726Bff);
$gradient-right: linear-gradient(90deg, #5B582Bff, #403D28ff, #B6B7AFff, #202012ff, #6F726Bff);
$gradient-bottom: linear-gradient(180deg, #5B582Bff, #403D28ff, #B6B7AFff, #202012ff, #6F726Bff);
$gradient-left: linear-gradient(270deg, #5B582Bff, #403D28ff, #B6B7AFff, #202012ff, #6F726Bff);
$gradient-top-right: linear-gradient(45deg, #5B582Bff, #403D28ff, #B6B7AFff, #202012ff, #6F726Bff);
$gradient-bottom-right: linear-gradient(135deg, #5B582Bff, #403D28ff, #B6B7AFff, #202012ff, #6F726Bff);
$gradient-top-left: linear-gradient(225deg, #5B582Bff, #403D28ff, #B6B7AFff, #202012ff, #6F726Bff);
$gradient-bottom-left: linear-gradient(315deg, #5B582Bff, #403D28ff, #B6B7AFff, #202012ff, #6F726Bff);
$gradient-radial: radial-gradient(#5B582Bff, #403D28ff, #B6B7AFff, #202012ff, #6F726Bff);