/* Coolors Exported Palette - https://coolors.co/adac99-957a51-d7482b-ce5335-a5a897 */

/* CSS HEX */
--ash-gray: #ADAC99ff;
--shadow: #957A51ff;
--vermilion: #D7482Bff;
--cedar-chest: #CE5335ff;
--ash-gray-2: #A5A897ff;

/* CSS HSL */
--ash-gray: hsla(57, 11%, 64%, 1);
--shadow: hsla(36, 30%, 45%, 1);
--vermilion: hsla(10, 68%, 51%, 1);
--cedar-chest: hsla(12, 61%, 51%, 1);
--ash-gray-2: hsla(71, 9%, 63%, 1);

/* SCSS HEX */
$ash-gray: #ADAC99ff;
$shadow: #957A51ff;
$vermilion: #D7482Bff;
$cedar-chest: #CE5335ff;
$ash-gray-2: #A5A897ff;

/* SCSS HSL */
$ash-gray: hsla(57, 11%, 64%, 1);
$shadow: hsla(36, 30%, 45%, 1);
$vermilion: hsla(10, 68%, 51%, 1);
$cedar-chest: hsla(12, 61%, 51%, 1);
$ash-gray-2: hsla(71, 9%, 63%, 1);

/* SCSS RGB */
$ash-gray: rgba(173, 172, 153, 1);
$shadow: rgba(149, 122, 81, 1);
$vermilion: rgba(215, 72, 43, 1);
$cedar-chest: rgba(206, 83, 53, 1);
$ash-gray-2: rgba(165, 168, 151, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #ADAC99ff, #957A51ff, #D7482Bff, #CE5335ff, #A5A897ff);
$gradient-right: linear-gradient(90deg, #ADAC99ff, #957A51ff, #D7482Bff, #CE5335ff, #A5A897ff);
$gradient-bottom: linear-gradient(180deg, #ADAC99ff, #957A51ff, #D7482Bff, #CE5335ff, #A5A897ff);
$gradient-left: linear-gradient(270deg, #ADAC99ff, #957A51ff, #D7482Bff, #CE5335ff, #A5A897ff);
$gradient-top-right: linear-gradient(45deg, #ADAC99ff, #957A51ff, #D7482Bff, #CE5335ff, #A5A897ff);
$gradient-bottom-right: linear-gradient(135deg, #ADAC99ff, #957A51ff, #D7482Bff, #CE5335ff, #A5A897ff);
$gradient-top-left: linear-gradient(225deg, #ADAC99ff, #957A51ff, #D7482Bff, #CE5335ff, #A5A897ff);
$gradient-bottom-left: linear-gradient(315deg, #ADAC99ff, #957A51ff, #D7482Bff, #CE5335ff, #A5A897ff);
$gradient-radial: radial-gradient(#ADAC99ff, #957A51ff, #D7482Bff, #CE5335ff, #A5A897ff);