/* Coolors Exported Palette - https://coolors.co/586251-444a40-898f82-8b9281-b6beb5 */

/* CSS HEX */
--ebony: #586251ff;
--rifle-green: #444A40ff;
--artichoke: #898F82ff;
--artichoke-2: #8B9281ff;
--ash-gray: #B6BEB5ff;

/* CSS HSL */
--ebony: hsla(95, 9%, 35%, 1);
--rifle-green: hsla(96, 7%, 27%, 1);
--artichoke: hsla(88, 5%, 54%, 1);
--artichoke-2: hsla(85, 7%, 54%, 1);
--ash-gray: hsla(113, 6%, 73%, 1);

/* SCSS HEX */
$ebony: #586251ff;
$rifle-green: #444A40ff;
$artichoke: #898F82ff;
$artichoke-2: #8B9281ff;
$ash-gray: #B6BEB5ff;

/* SCSS HSL */
$ebony: hsla(95, 9%, 35%, 1);
$rifle-green: hsla(96, 7%, 27%, 1);
$artichoke: hsla(88, 5%, 54%, 1);
$artichoke-2: hsla(85, 7%, 54%, 1);
$ash-gray: hsla(113, 6%, 73%, 1);

/* SCSS RGB */
$ebony: rgba(88, 98, 81, 1);
$rifle-green: rgba(68, 74, 64, 1);
$artichoke: rgba(137, 143, 130, 1);
$artichoke-2: rgba(139, 146, 129, 1);
$ash-gray: rgba(182, 190, 181, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #586251ff, #444A40ff, #898F82ff, #8B9281ff, #B6BEB5ff);
$gradient-right: linear-gradient(90deg, #586251ff, #444A40ff, #898F82ff, #8B9281ff, #B6BEB5ff);
$gradient-bottom: linear-gradient(180deg, #586251ff, #444A40ff, #898F82ff, #8B9281ff, #B6BEB5ff);
$gradient-left: linear-gradient(270deg, #586251ff, #444A40ff, #898F82ff, #8B9281ff, #B6BEB5ff);
$gradient-top-right: linear-gradient(45deg, #586251ff, #444A40ff, #898F82ff, #8B9281ff, #B6BEB5ff);
$gradient-bottom-right: linear-gradient(135deg, #586251ff, #444A40ff, #898F82ff, #8B9281ff, #B6BEB5ff);
$gradient-top-left: linear-gradient(225deg, #586251ff, #444A40ff, #898F82ff, #8B9281ff, #B6BEB5ff);
$gradient-bottom-left: linear-gradient(315deg, #586251ff, #444A40ff, #898F82ff, #8B9281ff, #B6BEB5ff);
$gradient-radial: radial-gradient(#586251ff, #444A40ff, #898F82ff, #8B9281ff, #B6BEB5ff);