/* Coolors Exported Palette - https://coolors.co/787a7d-c3c4c7-e5e6e7-303435-0c0d10 */

/* CSS HEX */
--sonic-silver: #787A7Dff;
--silver-sand: #C3C4C7ff;
--platinum: #E5E6E7ff;
--onyx: #303435ff;
--rich-black-fogra-39: #0C0D10ff;

/* CSS HSL */
--sonic-silver: hsla(216, 2%, 48%, 1);
--silver-sand: hsla(225, 3%, 77%, 1);
--platinum: hsla(210, 4%, 90%, 1);
--onyx: hsla(192, 5%, 20%, 1);
--rich-black-fogra-39: hsla(225, 14%, 5%, 1);

/* SCSS HEX */
$sonic-silver: #787A7Dff;
$silver-sand: #C3C4C7ff;
$platinum: #E5E6E7ff;
$onyx: #303435ff;
$rich-black-fogra-39: #0C0D10ff;

/* SCSS HSL */
$sonic-silver: hsla(216, 2%, 48%, 1);
$silver-sand: hsla(225, 3%, 77%, 1);
$platinum: hsla(210, 4%, 90%, 1);
$onyx: hsla(192, 5%, 20%, 1);
$rich-black-fogra-39: hsla(225, 14%, 5%, 1);

/* SCSS RGB */
$sonic-silver: rgba(120, 122, 125, 1);
$silver-sand: rgba(195, 196, 199, 1);
$platinum: rgba(229, 230, 231, 1);
$onyx: rgba(48, 52, 53, 1);
$rich-black-fogra-39: rgba(12, 13, 16, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #787A7Dff, #C3C4C7ff, #E5E6E7ff, #303435ff, #0C0D10ff);
$gradient-right: linear-gradient(90deg, #787A7Dff, #C3C4C7ff, #E5E6E7ff, #303435ff, #0C0D10ff);
$gradient-bottom: linear-gradient(180deg, #787A7Dff, #C3C4C7ff, #E5E6E7ff, #303435ff, #0C0D10ff);
$gradient-left: linear-gradient(270deg, #787A7Dff, #C3C4C7ff, #E5E6E7ff, #303435ff, #0C0D10ff);
$gradient-top-right: linear-gradient(45deg, #787A7Dff, #C3C4C7ff, #E5E6E7ff, #303435ff, #0C0D10ff);
$gradient-bottom-right: linear-gradient(135deg, #787A7Dff, #C3C4C7ff, #E5E6E7ff, #303435ff, #0C0D10ff);
$gradient-top-left: linear-gradient(225deg, #787A7Dff, #C3C4C7ff, #E5E6E7ff, #303435ff, #0C0D10ff);
$gradient-bottom-left: linear-gradient(315deg, #787A7Dff, #C3C4C7ff, #E5E6E7ff, #303435ff, #0C0D10ff);
$gradient-radial: radial-gradient(#787A7Dff, #C3C4C7ff, #E5E6E7ff, #303435ff, #0C0D10ff);